<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		
	<title>zirck</title>
	
	<meta name="description" content="A web-based IRC client">
	<meta name="author" content="Callum Macrae">
	
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<div id="sidebar">
		<h1>Zirck</h1>
		<ul>
			<li class="server">Freenode</li>
			<li>#zirck</li>
		</ul>
	</div>
	<div id="main">
		<div id="topic">test topic</div>
		<ul>
			<li>17:45 <strong>&lt;+callum&gt;</strong> test</li>
		</ul>
		<div id="input">
			<input type="text" id="message" />
		</div>
	</div>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/script.js"></script>
	
	<!-- zirck does not support IE! -->
	<!--[if IE ]>
		<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
		
		<style>
			.chromeFrameInstallDefaultStyle {
				width: 100%;
				border: 5px solid blue;
			}
		</style>
		
		<div id="ie_prompt"></div>
		  
		<script>
			window.attachEvent('onload', function() {
				CFInstall.check({
					mode: 'inline',
					node: 'ie_prompt'
				});
			});
		</script>
	<![endif]-->
</body>
</html>