<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf8">
	<title>Zirck</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="topic">This is a test topic</div>
	<div id="sidebar">
		<strong>Efnet:</strong>
		<ul>
			<li><a href="#">#chat</a></li>
			<li><a href="#">#efnet</a></li>
		</ul>
	</div>
	<div id="msgs">
		<ul>
			<li><strong>nick:</strong> Message!</li>
			<li><strong>nick:</strong> Message!</li>
			<li><strong>nick:</strong> Message!</li>
			<li><strong>nick:</strong> Message!</li>
			<li><strong>nick:</strong> Message!</li>
			<li><strong>nick:</strong> Message!</li>
			<li><strong>nick:</strong> Message!</li>
			<li><strong>nick:</strong> Message!</li>
			<li><strong>nick:</strong> Message!</li>
			<li><strong>nick:</strong> Message!</li>
			<li><strong>nick:</strong> Message!</li>
			<li><strong>nick:</strong> Message!</li>
			<li><strong>nick:</strong> Message!</li>
			<li><strong>nick:</strong> Message!</li>
			<li><strong>nick:</strong> Message!</li>
			<li><strong>nick:</strong> Message!</li>
			<li><strong>nick:</strong> Message!</li>
			<li><strong>nick:</strong> Message!</li>
			<li><strong>nick:</strong> Message!</li>
			<li><strong>nick:</strong> Message!</li>
			<li><strong>nick:</strong> Message!</li>
			<li><strong>nick:</strong> Message!</li>
			<li><strong>nick:</strong> Message!</li>
			<li><strong>nick:</strong> Message!</li>
			<li><strong>nick:</strong> Message!</li>
		</ul>
	</div>
	<input type="text" id="message">

	<script src="/jquery.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/script.js"></script>
</body>
</html>
