* {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}

#sidebar {
	width: 20%;
	float: left;
	overflow: auto;
	
	h1 {
		text-align: center;
		padding: 20px;
	}
	
	ul {
		padding: 0 20px;
		list-style-type: none;
		
		li {
			padding: 5px 0;
		}
	}
}

#main {
	width: 79%;
	height: 100%;
	float: left;
	border-left: 1px darkgrey solid;
	
	#topic {
		text-align: center;
		padding: 3px;
		border-bottom: 1px darkgrey solid;
		margin-bottom: 5px;
	}
	
	ul {
		height: 90%;
		list-style-type: none;
		padding: 0 10px;
		overflow: auto;
	}
	
	#input {
		position: absolute;
		bottom: 0;
		width: 79%;
		
		input {
			border-width: 0;
			border-top: 1px darkgrey solid;
			padding: 4px 0;
			width: 100%;
		}
	}
}